a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding :20px 30px;
    font-weight: bold;
}
a:hover{
    color :white;
}
h1{
    margin : 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #00bdaa;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #95d3cc;

}
h3{
    font-family: 'Merriweather', serif;
    font-weight: lighter;
    color: #40bad5;
    font-weight: bold;
}
p{
    font-family: 'Merriweather', serif;
    line-height: 2;
}
body{
    margin : 0;
    text-align: center;
    color : #40514E;
    
} 
 hr{
     border-style: dotted none none;
     border-width: 5px;
     color: #EAF6F6;
     width : 4%;
     margin : 100px auto;
     
 }


 .contact-p{
    width : 30%;
    margin : auto;
    padding-bottom: 30px;
 }

.free{
    text-decoration: underline;
}
.footer-p{
    margin :0 auto;
    padding :20px;
    font-size: 12px;
    color :white;
     
}
.intro{
    width : 30%;
    margin : auto;
}
.top-container{
    background-color: #cff1ef;
    position: relative;
    margin-bottom: 10px;
    padding: 100px 0 30px 0;
    
}
.middle-container{
   margin :100px auto;
}
.bottom-container{
    background-color: #95d3cc;
    position :relative;
    padding : 40px 0 20px 0;
    
}

.top-star{
    position : fixed;
    top : 0;
    left : 0;
    width : 25%;

}
.bottom-star{
    position : fixed;
    top : 0;
    right : 0;
    width: 25%;

}
.code{
    width :25%;
    float :left;
    margin-right: 30px;
}
.freedom{
    font-size : 1.5rem;
    font-weight: normal;
    color: #2fc4b2;
}

.science{
    width :25%;
    float : right;
    margin-left: 30px;
}

.skill-row{
    text-align: left;
    width : 50%;
    margin: 100px auto;
    line-height: 2;
}
.woman{
    height : 100px;
    width : 100px;
}
.footer-link{
    color: #00bdaa;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

